
.form {
    border: solid;
    border-radius: 8px;
    border-width: 5px;
    
}

.form_heading {
    color: blue;
    font-size: 33px;
}

.label {
    font-size: 20px;
    font-weight: bold;
}


.button_div {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    background-color: lightblue;
    color: blue;
    padding: 5px;
    border:solid;
    border-radius: 6px;
    font-weight: bold;
}
.button:hover {
    background-color: lightgreen;
    color: black;
}

#show {
    font-weight: bold;
    font-size: 30px;
}