
.form {
    border: solid;
    border-radius: 8px;
    border-width: 5px;
    
}

.form_heading {
    color: blue;
    font-size: 33px;
}

.button_div {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    background-color: lightblue;
    color: blue;
    padding: 5px;
    border-radius: 6px;
}
.button:hover {
    background-color: lightgreen;
}