

#general_div {
    background-color:lightgray ;
    border: solid;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
#vip_div {
    background-color:lightgray ;
    border: solid;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
#vvip_div {
    background-color:lightgray ;
    border: solid;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}