
#table {
    padding: 40px;
    border: solid;
    border-width: 10px;
}
.trow {
    background-color: yellow;
}
.tdata {
    border: solid;
    border-collapse: collapse;
    padding: 20px;
}

/*user input*/
#input {
    padding-top: 50px;
    display: block;
}

.button_container{
    padding: 15px;
    margin-right: 80%;
    display: flex;
    justify-content: space-between;


}
.button {
    padding: 10px;
    border: solid;
    border-radius: 8px;
}
.button:hover {
    border-color: blue;
    border-radius: 12px;
}
